.sqrContent__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.sqrContent__main input {
  width: 500px;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 10%;
}

.sqrContent__main .btn {
  width: 110px;
  color: black;
  border-radius: 40px;
  background-color: aqua;
}

.sqrContent__main .btn:hover {
  width: 115px;
  color: black;
  border-radius: 40px;
  background-color: #1cd1d1;
}
