li {
   list-style-type: none;
}

// .sqrContent {

//    &__main {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       padding-top: 50px;

//       input{
//          width: 500px;
//          height: 50px;
//          margin-bottom: 50px;
//          border-radius: 10%;
//       }

//       .btn{
//          width: 110px;
//          color: black;
//          border-radius: 40px;
//          background-color: aqua;
//       }

//       .btn:hover{
//          width: 115px;
//          color: black;
//          border-radius: 40px;
//          background-color: rgb(28, 209, 209);
//       }
//    }
// }

.container {
   display: flex;
   align-items: center;
   justify-content: center;
}
.title {
   text-align: center;
}

.btn {
   display: block;
}
